@import '../../styles/global-variables.scss';

.entry {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  width: 100%;
  height: 18px;
  margin: 6px 0;
}
.entry-type {
  margin-right: 20px;
  position: relative;

  &.icon{
    width: 16px;
    width: 16px;
  }
  &.task::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid $icon-secondary;
    border-radius: 2px;
    margin-top: 2px;
  }
  &.event::before{
    content: ''; 
    position: absolute;
    top: 6px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $icon-secondary;
  }
  &.migrate::after{
    content: ''; 
    position: absolute;
    top: 6px;
    width: 10px;
    height: 10px;
    border-color: $icon-secondary;
    border-style: solid;
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
  } 
  &.note::after{
    content: ''; 
    position: absolute;
    top: 8px;
    left: 4px;
    width: 6px;
    height: 6px;
    background: $icon-secondary;
    border-radius: 100%;
    border: 1px solid $icon-secondary;
  }
  &.num1::after{
    content: '1.';
    color: $light;
    position: absolute;
    width: 16px;
    height: 16px;
  }
  &.num2::after{
    content: '2.';
    color: $light;
    position: absolute;
    width: 16px;
    height: 16px;
  }
  &.num3::after{
    content: '3.';
    color: $light;
    position: absolute;
    width: 16px;
    height: 16px;
  }
}

.entry-text {
  width: 100%;
}