$font-family-primary: 'Helvetica Neue', sans-serif;
$font-primary: #202020;

$primary: #202020;
$light: #ccc;

$icon-secondary: #dadada;

$hr-border: #e1e2e4;
$textarea-border: #ccc;

$shadow-primary-color: 0 2px 10px rgba(0, 0, 0, 0.10);

$navbar-height: 46px;