@import '../../styles/global-variables.scss';

.new-entry-container {
  width: 100%;
  padding: 4px 34px;
  border-bottom: 1px dashed $icon-secondary;
  color: $icon-secondary;
  
  .new-entry {
    font-size: 1em;
  }
}